A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [12]:
set1= {1,2,3,4,'man'}

In [4]:
set1

{1, 2, 3, 4, 'man'}

In [5]:
for i in set1:
    print(i)

1
2
3
4
man

In [6]:
print('man' in set1)

True

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [15]:
set1.add('woman')

In [8]:
print(set1)

{1, 2, 3, 4, 'woman', 'man'}

In [13]:
set1.update(['child',33,'infant'])

In [16]:
set1

{1, 2, 3, 33, 4, 'child', 'infant', 'man', 'woman'}

To determine how many items a set has, use the len() method.

In [17]:
len(set1)

9

To remove an item in a set, use the remove(), or the discard() method

In [18]:
set1.remove(33)

In [19]:
set1

{1, 2, 3, 4, 'child', 'infant', 'man', 'woman'}

In [21]:
# discard method
set1.discard('child')
set1

{1, 2, 3, 4, 'infant', 'man', 'woman'}

In [22]:
# using pop method
set1.pop()
set1

{2, 3, 4, 'infant', 'man', 'woman'}

In [23]:
#clear method to empty the set
set1.clear()
set1

set()

In [25]:
#deleting set
del set1
set1

NameError: name 'set1' is not defined

__Joining two sets__

In [27]:
#union of sets
s1={1,2,3}
s2={4,5,6}
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6}

In [28]:
#update method
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6}

In [32]:
#using set constructor
set1=set((1,2,3))
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>